* {
    /* box-sizing: border-box; */
}

body {
    min-height: 100vh;
}

html{
    max-width: 100vw;
}    

#footer_quiz {
  /* position: absolute; */
  color: white;
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  height: 130px;
  background-color: rgb(74, 139, 0);
  text-align: center;
  padding-top: 10px;
}

footer {
    
}

.btn-floating {
  color: white;
}

.btn-floating:hover {
  color: rgb(54, 23, 189);
}

#logo {
  height: 100px;
}

button {
  position: relative;
  float: right;
}

#login {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.login {
  font-family: "Josefin Sans", sans-serif;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(40deg);
  -moz-transform: rotateY(40deg);
  transform: rotateY(40deg);
}
.login:hover {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
}

.login .form-control,
.login .btn {
  border-radius: 0;
}
.login .btn {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.input-group-addon {
  border-radius: 0;
  color: #fff;
  background: #f3aa0c;
  border: #f3aa0c;
}
.forgot {
  font-size: 16px;
}
.forgot a {
  color: #333;
}
.forgot a:hover {
  color: #24a024;
}

#inner-wrapper,
#contact-us .contact-form,
#contact-us .our-address {
  color: #1d1d1d;
  font-size: 19px;
  line-height: 1.7em;
  font-weight: 300;
  padding: 50px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 100px;
}
.input-group-addon {
  border-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #fff;
  background: #f3aa0c;
  border: #f3aa0c;
  border-right-color: rgb(243, 170, 12);
  border-right-style: none;
  border-right-width: medium;
}

.background-accueil2 {
  background-image: url(http://ftp.scientificlinux.org/linux/scientific/graphics/version-3/backgrounds/Edge.of.Space/atomshine-6-dawn.svg);
  background-size: cover;
  /* min-height: 80vh; */
  /* display: flex; */
  /* align-items: center; */
  min-height: calc(100vh - 260px);
  position: relative;
}

.background-accueil2 .container {
  min-height: calc(100vh - 260px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-accueil2 .container > div {
  width: 95vw;
}

#carouselExampleIndicators {
  width: 40%;
  height: 250px;
}

#carouselExampleIndicators img {
  height: 250px;
  width: 300px;
  margin: auto;
  border: 3px solid #c3c3c3;
}

nav.navbar {
  position: sticky;
  top: 0px;
  color: white;
  background-color: rgb(199, 71, 32);
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 10;
}

.links a{
    margin-right: 15px;
    box-shadow: 0 0  4px rgba(250,250,250,0.6);
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
}

.links a:hover{
    box-shadow: 0 0 3px rgb(250,250,250);
    text-decoration: none;
}

.h1 {
  text-align: center;
}

.background-accueil {
  background-image: url(/assets/images/background-enfant-8.jpg);
  background-size: cover;
  min-height: calc(100vh - 260px);
  padding: 50px;
  /* min-height: 80vh; */
  display: flex;
  align-items: center;
}

.carousel-indicators {
  position: static; /* Je préfère que les petites barres du carousel soient en dessous polutôt que sur l'image. */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: red;
  border-radius: 5px;
  height: 55px;
  width: 40px;
}

.carousel-item h2 {
  text-align: center;
  text-transform: capitalize;
}

.theme {
  background-color: rgb(45, 77, 112);
  display: flex;
  align-content: center;
}

.theme img {
  width: 150px;
  margin: auto;
  height: 150px;
  border-radius: 70%;
  border: 1px solid black;
}
.background-diplome {
  background-image: url(https://img.freepik.com/free-photo/gold-background-texture-gradients-shadow_49507-1824.jpg?size=626&ext=jpg);
  background-size: cover;
  padding-top: 50px;
  min-height: 80vh;
  display: flex;
  align-items: center;
}
.cp-text {
  font-size: 50px;
  text-transform: uppercase;
  margin: 30px auto 0 auto;
  width: 580px;
  height: 100px;
  padding-left: 20px;
  font-family: Arial;
  font-weight: 400;
  position: relative;
}
.cp-text:before,
.cp-text:after {
  content: " ";
  display: table;
}

.cp-text:after {
  clear: both;
}
.cp-text span {
  cursor: default;
  display: block;
  float: left;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 0 0 0 -20px;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cp-text span:nth-child(odd) {
  background: rgba(82, 82, 82, 0.8) url("https://i.imgur.com/yofAc6p.png");
}

.cp-text span:nth-child(even) {
  background: rgba(40, 40, 40, 0.8) url("https://i.imgur.com/yofAc6p.png");
}

.cp-text span:nth-child(1) {
  -webkit-transform: translate(300%) translate(-60px);
  -moz-transform: translate(300%) translate(-60px);
  -o-transform: translate(300%) translate(-60px);
  -ms-transform: translate(300%) translate(-60px);
  transform: translate(300%) translate(-60px);
}

.cp-text span:nth-child(2) {
  -webkit-transform: translate(200%) translate(-40px);
  -moz-transform: translate(200%) translate(-40px);
  -o-transform: translate(200%) translate(-40px);
  -ms-transform: translate(200%) translate(-40px);
  transform: translate(200%) translate(-40px);
}

.cp-text span:nth-child(3) {
  -webkit-transform: translate(100%) translate(-20px);
  -moz-transform: translate(100%) translate(-20px);
  -o-transform: translate(100%) translate(-20px);
  -ms-transform: translate(100%) translate(-20px);
  transform: translate(100%) translate(-20px);
}

.cp-text span:nth-child(5) {
  -webkit-transform: translate(-100%) translate(20px);
  -moz-transform: translate(-100%) translate(20px);
  -o-transform: translate(-100%) translate(20px);
  -ms-transform: translate(-100%) translate(20px);
  transform: translate(-100%) translate(20px);
}

.cp-text span:nth-child(6) {
  -webkit-transform: translate(-200%) translate(40px);
  -moz-transform: translate(-200%) translate(40px);
  -o-transform: translate(-200%) translate(40px);
  -ms-transform: translate(-200%) translate(40px);
  transform: translate(-200%) translate(40px);
}

.cp-text span:nth-child(7) {
  -webkit-transform: translate(-300%) translate(60px);
  -moz-transform: translate(-300%) translate(60px);
  -o-transform: translate(-300%) translate(60px);
  -ms-transform: translate(-300%) translate(60px);
  transform: translate(-300%) translate(60px);
}

.cp-text span:not(:last-child) {
  opacity: 0;
  pointer-events: none;
}

.cp-text span:last-child {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
  z-index: 100;
  background: url("https://www.greenscreen-festival.de/fileadmin/Resources/Images/ball.png")
    no-repeat center center;
  background-size: 100%;
  margin-top: -10px;
}

.cp-text:hover span:not(:last-child) {
  -webkit-transform: translate(0%);
  -moz-transform: translate(0%);
  -o-transform: translate(0%);
  -ms-transform: translate(0%);
  transform: translate(0%);
  opacity: 1;
}

.cp-text:hover span:last-child {
  opacity: 0;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
h1 {
  font-family: Arial;
  text-align: center;
  line-height: 3;
  font-weight: normal;
  font-size: 40px;
  background: #b1b1b1;
}

.logo-central {
  margin-top: -15px;
}

/* style pour quizz.php */
.container-corps-quizz {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  min-height: calc(100vh - 260px);
}

.container-global-questions {
    padding: 25px;
    background-color: rgba(45,77,112,0.8);
    background-size: cover;
    color: white;
}

#question div:nth-child(1){
    padding: 25px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#question div:nth-child(2) form{
    display: grid;
    grid-gap: 20px;
}

#question div:nth-child(2) form button:nth-child(3){
    grid-row: 2 / 2 ;
}

#question {
  /* border: 1px solid black; */
  padding: 25px;
  box-shadow: 0 0  4px white;
  border-radius: 10px;
  margin-top: 25px;
}

.container {
  text-align: center;
}

input[type="submit"] {
  cursor: pointer;
}

#btn-connexion{
    margin-top: 25px;
}

#btn-creation{
    margin-bottom: -17px;
}

section#inner-wrapper {
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 5px;
}

#buttonscore {
  font-size: 15px;
  border-radius: 5px;
  background-color: #57ac62;
  box-shadow: none;
}
html {
  width: 100%;
  height: 100%;
  background: silver;
  background: radial-gradient(ellipse at center, #ffffff 0%, #848a8c 100%);
}

* {
  box-sizing: border-box;
}

#meat_boy {
  position: absolute;

  width: 10em;
  height: 10em;
  background-color: transparent;
}

#shadow {
  position: absolute;
  bottom: 0.8em;
  margin-left: 10%;
  width: 80%;
  height: 10%;
  background-color: #a8a8a8;
  border-radius: 100%;
  box-shadow: 0 0 15px 15px #a8a8a8;
  opacity: 0.6;
}

#body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3em;
  margin-left: -3em;
  width: 6.7em;
  height: 6em;
  background-color: #ba0001;
  border: 0.38em solid black;
  border-radius: 0.2em 0.3em 0.2em 0.2em;
  box-shadow: 0 0 0.01em 0.01em black;
  transform: rotate(5deg);
}

#scores {
    align-self: flex-center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding:  20px;
}

.fin-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: yellow;
    font-size: 3em;
    padding: 50px;
}

.fin-theme-tous {
    height: 100%;
    background-color: yellow;
    border-radius: 15px;
    font-size: 3em;
    padding: 50px;
}

/* .fin-theme button{ */
/*     display: block; */
/*     width: 100%; */
/* } */

.button-inactive{
    opacity: 0.4;
}

.button-active{
    opacity: 1;
}

.graphique{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-top: 80px;
}

.graphique div p{
    margin-top: -40px;
}


@media screen and (max-width: 992px) {
    .logo-central{
	display: none;
    }
}


@media screen and (max-width: 650px) {
    nav.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: static;
    }
    #lauriers {
	padding:  100px;
    }
    .container-corps-quizz {
	grid-template-row: auto;
	grid-template-columns: 1fr;
	width: 100%;
    }
    .container-corps-quizz .theme {
	padding: 25px;
    }
}

@media screen and (max-width: 450px) {
    nav.navbar{
	justify-content: center;
    }

    nav.navbar > *{
	margin-top: 20px;
    }

    .links a {
	margin-top: 20px;
    }
    
    .graphique{
	transform: scale(0.6);
    }
    section#inner-wrapper {
	transform: scale(0.7);
    }

    .background-accueil{
	padding: 5px;
    }
    .container{
	padding-right: 0;
	padding-left: 0;
    }
}
